<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DONGHUN BLOG : EDIT</title>

	<!-- MATERIAL ICONS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
</head>

<body>
	<% include ../include/side-menu %>

	<section class="contents">
		<div class="inner">
			<h1>E D I T</h1>

			<form action="/" method="post">
				<div class="edit-form">
					<div class="edit-top">
						<select name="" id="">
							<option value="일상">일상</option>
							<option value="노래">노래</option>
							<option value="여행">여행</option>
							<option value="코딩">코딩</option>
						</select>

						<input type="submit" value="글쓰기" />
					</div>
					<div class="input-area">
						<input type="text" name="title" id="title" placeholder="TITLE" />
						<input type="text" name="password" id="password" placeholder="PASSWORD" />
						<textarea name="content" id="content" cols="30" rows="10"></textarea>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>

</html>