<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DONGHUN BLOG : SIGN IN</title>

	<!-- MATERIAL ICONS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link rel="stylesheet" type="text/css" href="../../css/signin.css">
</head>

<body>
	<% include ../include/side-menu %>

	<section class="content">
		<div class="inner">
			<h1>S I G N&nbsp;&nbsp;&nbsp;I N</h1>

			<form action="#" method="post">
				<div class="signin">
					<input type="text" name="user_id" id="user_id" placeholder="아이디를 입력해주세요" />
					<input type="password" name="user_pw" id="user_pw" placeholder="비밀번호를 입력해주세요" />
				</div>
				<input type="submit" value="SIGN IN">
			</form>
		</div>
	</section>
</body>

</html>