<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DONGHUN BLOG</title>

	<!-- MATERIAL ICONS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<% include ./include/side-menu %>
	
	<section class="contents">
		<div class="inner">
			<h1>C O N T E N T S</h1>
			<p><%= board %></p>
			
			<div class="content">
				<div class="titles">
					<span class="id">ID</span>
					<span class="title">TITLE</span>
				</div>
				<div class="subtitles">
					<span class="category">CATEGORY</span>&nbsp;/&nbsp;
					<span class="date">DATE</span>
				</div>
				<div class="text">
					<p>CONTENT</p>
				</div>
			</div>
			<div class="content">
				<div class="titles">
					<span class="id">3</span>
					<span class="title">TEST</span>
				</div>
				<div class="subtitles">
					<span class="category">일상</span>&nbsp;/&nbsp;
					<span class="date">2021.04.20 01:21</span>
				</div>
				<div class="text">
					<p>왜 안될까</p>
				</div>
			</div>
			<div class="content">
				<div class="titles">
					<span class="id">2</span>
					<span class="title">애국가</span>
				</div>
				<div class="subtitles">
					<span class="category">노래</span>&nbsp;/&nbsp;
					<span class="date">2021.04.20 00:45</span>
				</div>
				<div class="text">
					<p>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리 나라 만세</p>
					<p>무궁화 삼천리 화려강산 대한 사람 대한으로 길이 보전하세</p>
				</div>
			</div>
			<div class="content">
				<div class="titles">
					<span class="id">1</span>
					<span class="title">Open</span>
				</div>
				<div class="subtitles">
					<span class="category">끄적끄적</span>&nbsp;/&nbsp;
					<span class="date">2021.04.19 21:38</span>
				</div>
				<div class="text">
					<p>으어어어어어ㅓㅓㅓㅓ</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>