<section class="side-menu">
	<div class="top-bottons">
		<div class="material-icons">menu</div>
		<div class="material-icons">search</div>
	</div>
	
	<div class="profile">
		<a href="/" class="blog-title">DONGHUN BLOG</a>
		<p>Hello, new world!</p>

		<div class="email">
			<span class="material-icons">markunread</span>
			<a href="mailto:vesteira2018@gmaiil.com">
				<span>vesteira2018@gmail.com</span>
			</a>
		</div>
		<div class="github">
			<img src="../../images/github-logo.png" alt="github" />
			<a href="http://github.com/vesteira2018" class="github-logo">
				<span>http://github.com/vesteira2018</span>
			</a>
		</div>
	</div>

	<p class="bottom-"></p>

	<div class="bottom-bottons">
		<a href="javascript:void(0)" class="material-icons">edit</a>
		<a href="javascript:void(0)" class="material-icons">article</a>
		<a href="javascript:void(0)" class="material-icons">info</a>
		<a href="javascript:void(0)" class="material-icons">login</a>
	</div>
</section>